@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    min-height: 100vh;
    display: flex;
    background: linear-gradient( black);
    background-size: cover !important;
    background-position: center !important;
    font-family: 'Work Sans', sans-serif;
}